<% opt = "#{object.respond_to?(:name) ? object.name : model_name.capitalize }" %>

<div class="form-actions">
  <% if can? :index, eval(model_name.capitalize) %>
    <%= link_to(eval("#{model_name.pluralize}_path"), class: 'waves-effect waves-light btn') do %>
      &nbsp;Display All <%# model_name.pluralize.capitalize %>
    <% end %>
    &nbsp;&nbsp;
  <% end %>
  
  <% if can? :edit, object %>
    <%= link_to(eval("edit_#{model_name}_path(object)"), class: 'waves-effect waves-light btn') do %>
        &nbsp;<%= "Edit #{opt}" %>
    <% end %>
    &nbsp;&nbsp;
  <% end %>
  
  <% if can?(:destroy, object) && controller.respond_to?(:destroy) %>
    <%= link_to(eval("#{model_name}_path(object)"), method: 'delete', data: {confirm: "Are you sure you want to permanently delete #{opt}"}, class: 'waves-effect waves-light btn btn-alert') do %>
        &nbsp;<%= "Delete #{opt}" %>
    <% end %>
  <% end %>

  <br /><br />

  <% if can? :toggle_active, object %>
    <% if object.class == Item || object.class == Customer %>
      <%= link_to(eval("toggle_active_path"), method: 'patch', class: 'waves-effect waves-light btn') do %>
          <% if object.active? %>
            <%= "Make Inactive" %>
          <% else %>
            <%= "Make Active" %>
          <% end %>
      <% end %>
      &nbsp;&nbsp;
    <% end %>
  <% end %>

  <% if can? :toggle_featured, object %>
    <% if object.class == Item %>
      <%= link_to(eval("toggle_feature_path"), method: 'patch', class: 'waves-effect waves-light btn') do %>
          <% if object.is_featured? %>
            <%= "Stop Featured" %>
          <% else %>
            <%= "Make Featured" %>
          <% end %>
      <% end %>
      &nbsp;&nbsp;
    <% end %>
  <% end %>

  <% if can? :add_to_cart, Order %>
    <% if object.class == Item %>
      <%= link_to(eval("add_item_path(object)"), class: 'waves-effect waves-light btn') do %>
        <%= "Add to Cart" %>
      <% end %>
    <% end %>
  <% end %>

</div>
