<div class="card">
  <div class="card-content">
    <h5><%= best_in_place @customer, :first_name, as: :input %> 
        <%= best_in_place @customer, :last_name, as: :input %></h5>
    <p>A GPBO customer since <%= @customer.created_at.year %>.</p><br />

    <b>Phone:&nbsp;&nbsp;</b><br>
      <%= best_in_place @customer, :phone, as: :input, display_with: :number_to_phone %><br /><br />

    <b>Email:&nbsp;&nbsp;</b><br>
      <%= best_in_place @customer, :email, as: :input %><br /><br />

    <b>Addresses on file:&nbsp;&nbsp;</b><br>
    <table class="striped highlight">
      <thead>
        <th>Address</th>
        <th>Recipient</th>
      </thead>
      <% for address in @customer.addresses %>
        <tr>
          <td><%= link_to (address.street_1 + " " + address.city + ", " + address.state + " " + address.zip), address_path(address) %></td>
          <td><%= address.recipient %></td>
        </tr>
      <% end %>
    </table><br />

    <b>Order History:&nbsp;&nbsp;</b><br>
    <table class="striped highlight">
      <thead>
        <th>Date</th>
        <th>Amount</th>
      </thead>
      <% for order in @customer.orders %>
        <tr>
          <td><%= link_to order.date.strftime("%m/%d/%y"), order_path(order) %></td>
          <td><%= number_to_currency(order.products_total + order.shipping) %></td>
        </tr>
      <% end %>
    </table><br />

    <b>Active with GPBO?&nbsp;&nbsp;</b>
      <%= @customer.active ? "Yes" : "No" %>
      <br>
  </div>
</div>